
.root {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: block;
}

.canvasPanel {
  flex: 0 0 auto;
  float: left;
  width:70%;
  background-color: #fff;
  border-bottom: 1px solid #E9E9E9;
}

.contextmenu {
  display: none;
  width: 200px;
  margin: 0;
  color: #000;
  font-size: 12px;
  background: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.25);
  .disable{
    color: rgba(0,0,0,0.25);
  }
  .command{
    box-sizing: content-box;
    height: 12px;
    padding: 8px;
    &:hover{
      background: #E6F7FF;
      cursor: pointer;
    }
  }
  .command.disable{
    &:hover{
      background: none;
      cursor: default;
    }
  }
  span:nth-of-type(1){
    float: left;
  }
  span:nth-of-type(2){
    float: right;
  }
}
